[
    {
        "type_alias":   "DCCLSubgroupType",
        "layout":       [
                            {
                                "min_nodes_by_shard": ["@world_size@"],
                                "max_nodes_by_shard": ["@world_size@"],
                                "delivery_modes_by_shard": ["Ordered"],
                                "profiles_by_shard": ["DEFAULT"]
                            }
                        ]
    }
]
